
@use "@angular/material" as mat;
@use "./app/shared/styles/material-theming/generated-theme-colors.scss" as theme-colors;

// Include Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// Light theme configuration
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        secondary: theme-colors.$secondary-palette,
        tertiary: theme-colors.$tertiary-palette,
        error: theme-colors.$error-palette,
        neutral: theme-colors.$neutral-palette,
        neutral-variant: theme-colors.$neutral-variant-palette,
      ),
      typography: (
        brand-family: "Poppins, sans-serif",
        plain-family: "Poppins, sans-serif",
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: 0,
    )
  );

  // Custom theme variables for light mode
  --navbar-background: whitesmoke;
}

// Dark theme configuration
.dark {
  color-scheme: dark;
  
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme-colors.$primary-palette,
        secondary: theme-colors.$secondary-palette,
        tertiary: theme-colors.$tertiary-palette,
        error: theme-colors.$error-palette,
        neutral: theme-colors.$neutral-palette,
        neutral-variant: theme-colors.$neutral-variant-palette,
      ),
    )
  );

  // Custom theme variables for dark mode
  --navbar-background: #292323;
}

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
