// Navigation variables
$navbar-height: 4rem;
$navbar-max-width: 100%;
$navbar-padding-x: 2rem;

// Viewport calculations accounting for navbar
$content-height: calc(100vh - #{$navbar-height});

@mixin occupy-space {
    width: 100%;
    height: 100%;
}

@mixin default-vibe-travels-view-wrapper {
    @include occupy-space;
    max-width: 75vw;
    margin: 0 auto;
    padding: 2rem 1rem;
}

@mixin content-with-navbar {
    min-height: $content-height;
    width: 100%;
}