.plans-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  .toolbar-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--mat-sys-primary);
    letter-spacing: -0.02em;
  }
  
  .toolbar-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}


.toolbar-info {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--system-secondary-background);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  width: max-content;

  .info-icon {
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .info-text {
    line-height: 1.5;
  }
}